html, body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  height:100%;
  background-color: #000000;
}

p {
  margin: 5px;
  font: 18px "Century Gothic", Futura, sans-serif;
}

.full-height {
  height: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:0;
}

.note-web {
  width: 100%;
  height: 100vh;
  color:#FFFFFF;
  background-color: #000000;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 90vh;
}

.leftbar {
  display: inline-block;
  width: 10vw;
  height: 100%;
  border: 1px solid purple;
  margin: 1%;
}

.leftbar-content {
  align-items: center;
}

.leftbar-item {
  cursor: pointer;
  border: 1px solid white;
}

.datascreen {
  display: inline-block;
  width: 70vw;
  height: 100%;
  flex: 6;
  border: 1px solid green;
  margin: 1%;
  flex-direction: column;
}

.datascreen-content {
  display: flex;
  min-width:50vw;
  width: 100%;
  height: 100%;
}

.notescreen {
  display: inline-block;
  width: 20vw;
  height: 100%;
  border: 1px solid green;
  margin: 1%;
}

.notescreen-content {
  width:100%;
  height:100%;
  position:relative;
}

.topbar {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}

.topbar-content {
  width: 40%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.blank-space {
  width: 50%;
}

.account {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 10%;
  height:100%;
  align-items: flex-end;
  text-align: center;
}

.account-content {
  display: flex;
  text-align: right;
}

.align-center{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input{
  display: flex;
  flex-direction: column;
  position:absolute;
  bottom: 0;
}

.input-button{
  display: block;
  width: 100%;
  height:5%;
  margin: auto;
  text-align: center;
}

.input-note{
  width: 100%;
  height: 96%
}

.input-title{
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
}

path {
  fill: none;
  stroke: #aaa;
}
