body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.leftbar {
  display: flex;
  flex: 1;
  border: 1px solid purple;
  margin: 20px;
}

.datascreen {
  display: flex;
  flex: 6;
  border: 1px solid green;
  margin: 20px;
}

.topbar {
  display: flex;
  flex: 1;
  border: 1px solid blue;
  margin: 20px;
}