body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

p {
  margin: 5px;
  font: 18px "Century Gothic", Futura, sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.note-web {
  width: 100%;
  height: 100%;
  color:#FFFFFF;
  background-color: #000000;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 80%;
}

.leftbar {
  display: flex;
  width: 20%;
  flex: 1;
  border: 1px solid purple;
  margin: 20px;
}

.datascreen {
  display: flex;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  flex: 6;
  border: 1px solid green;
  margin: 20px;
}

.notescreen {
  display: flex;
  flex: 7;
  border: 1px solid green;
  margin: 20px;
}

.topbar {
  display: flex;
  flex: 3;
  border: 1px solid blue;
  margin: 20px;
}

.account {
  display: flex;
  flex: 1;
  border: 1px solid blue;
  margin: 20px;
}


path {
  fill: none;
  stroke: #aaa;
}
